.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    .sidebar-header {
      font-size: 2vw;
    }

    .nav {
      font-size: 1vw;
    }
  }
  @media screen and (max-width: 768px) {
    .sidebar-header {
      font-size: 3vw;
    }
    .nav {
      font-size: 2.5vw;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .accordion {
    flex-grow: 1;
    background-color: #e7eaf6;
  }
  .accordion-item {
    background-color: #e7eaf6
  }
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

  html {
      height: -webkit-fill-available;
  }

  main {
      height: 100vh;
      height: -webkit-fill-available;
      max-height: 100vh;
      overflow-x: auto;
  }

.dropdown-toggle { outline: 0; }



.scrollarea {
    overflow-y: auto;
}
.rating , .rating2 , .rating3 , .rating4 , .rating5 , .rating6 , .rating7 , .rating8 , .rating9 , .rating10 {
    background-color: #142d4c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin: 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.rating:hover , .rating2:hover , .rating3:hover , .rating4:hover , .rating5:hover, .rating6:hover, .rating7:hover, .rating8:hover, .rating9:hover , .rating10:hover {
    background-color: rgba(0, 0, 0, 0.85);
  }

.accordion-body {
    font-family: 'Poppins', sans-serif;
}
#message , #message2 , #message3 , #message4, #message5, #message6, #message7, #message8, #message9, #message10 {
    font-weight: bold;
    color: #142d4c;
}