body {
    background-color: #e7eaf6;
}
.col-md-12 {
    color: #e7eaf6;
    background-color: #142d4c;
    font-size: 10vw;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.body-text {
    font-size: 20px;
    padding: 20px 20px 20px 40px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.row {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #142d4c;
    text-align:center;
    margin-left: 30px;
    margin-right: 30px;
}
.btn-secondary {
    background-color: #142d4c;
}
.btn-secondary:hover {
    background-color: black;
}
.col-lg-4 {
    padding: 30px;
}
.bd-placeholder-img {
    width: 180px;
    height: 180px;
}
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
  }

  main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .dropdown-toggle { outline: 0; }

  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }

  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }

  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }

  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }

  .scrollarea {
    overflow-y: auto;
  }
